region      = "us-east-1"
key_name    = "demo-keypair"

db_name     = "demodb"
db_username = "demo_admin"
db_password = "DemoPasswordSgk!"  # Use secrets manager or environment variables in prod


terraform.tfstate
terraform.tfstate.backup
*.tfvars
.terraform/
